<html>
<head>
    <title>E-parking</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <%- include("../partials/navbar") -%>  
    <h1 style="margin-left: 10%;">Current Bookings</h1>
    <div>
        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">Booking ID</th>
                <th scope="col">Slot number</th>
                <th scope="col">Checkin</th>
                <th scope="col">Checkout</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
                <% bookings.forEach(function(booking){  %> 
                    <% if(!booking.checkedout){ %>
                <tr>
                    <th scope="row"><%= booking._id  %></th>
                    <td><%= booking.slot.slotnumber  %></td>
                    <td><%= booking.checkin %></td>
                    <td><%= booking.checkout  %></td>
                    <td><form action="/currentbookings/<%= booking._id  %>" method="post"><input type="submit" value="Checkout Now" class="btn btn-info"></form></td>
                </tr>
            <%  } %>
             <%   }) %>
            </tbody>
          </table>
    </div>
    <%- include("../partials/footer") -%>